<section class="dark-section">
    <h3>Hi, I'm Pavithra — a front-end developer who loves turning ideas into intuitive interfaces</h3>
    <p>I'm a passionate Front-End Developer with 3+ years of experience building responsive, user-centric web apps using
        Angular, TypeScript, HTML5, CSS3, Bootstrap, and JavaScript. I focus on delivering clean, testable code and
        seamless user experiences.</p>
    <p>I'm skilled in GitHub collaboration, CI/CD using Jenkins, and testing with Jest. I also bring working knowledge
        of SQL and Java, enabling me to contribute effectively to full-stack projects.</p>
    <p>Inspired by the tech innovation in the Netherlands 🇳🇱, I'm eager to join teams that value clean design,
        thoughtful UX, and modern development practices.</p>
</section>

<div class="links">
    <a target="_blank" href="https://github.com/pavi10999/Portfolio">
        <img src="assets/links/github.png" alt />
        <div class="hidden-label">Github</div>
    </a>

    <a target="_blank" href="mailto:pavib1799@gmail.com">
        <img src="assets/links/gmail.png" alt />
        <div class="hidden-label">Gmail</div>
    </a>

    <a target="_blank" href="https://www.linkedin.com/in/pavithra10999/">
        <img src="assets/links/linkedin.png" alt />
        <div class="hidden-label">Linkedin</div>
    </a>

    <a target="_blank" href="https://www.hackerrank.com/pavib1799">
        <img src="assets/links/hackerrank.png" alt />
        <div class="hidden-label">Hackerrank</div>
    </a>

    <a target="_blank" href="https://drive.google.com/drive/folders/1AT835nQfUJ3Xrbnhdr5SWcukQwkY6hRz">
        <img src="assets/links/drive.jpg" alt />
        <div class="hidden-label">Resume</div>
    </a>
</div>