<section class="dark-section">
    <h2>Experience</h2>
    <div class="jobs">
        <div class="position">
            <h3>Infosys Limited - Systems Engineer</h3>
            <h4>Frontend development - Inventory Management System</h4>
            <p>
            <ul>
                <li>Designed and developed dynamic, responsive, and user-friendly interfaces using Angular and TypeScript, 
                    applying strong UX principles and incorporating MaterialDesign components for a modern and consistent UI experience. </li>
                <li>Validated REST API responses to ensure data accuracy and application reliability.</li>
                <li>Debugged and optimized Angular applications using Chrome DevTools, effectively identifying and
                    resolving issues.</li>
                <li>Increased code coverage to over 95% by creating unit and integration tests with
                    Jest, while mentoring developers on debugging and effective test writing practices.</li>
                <li>Fixed linting, test case, and build issues in the Jenkins pipeline to ensure smooth operations.</li>
                <li>Conducted code reviews to enhance unit testing and uphold high-quality standards.</li>
                <li>Implemented and maintained frontend automation tools and build workflows toensure consistent code quality and reduce deployment risks.</li>
                <li>Addressed and resolved review comments in pull requests (PRs), improving code quality.</li>
                <li>Utilized Git for version control, managing code repositories and ensuring efficient version tracking.</li>
                <li>Shaped frontend architecture, simplified ideas into intuitive UI, and integrated platform APIs with clear product narratives.</li>
                <li>Collaborated with product designers and backend teams to ensure a cohesive userexperience aligned with design systems.</li>
            </ul>
        </div>

        <div class="position">
            <h4>Backend development - MF2C Recruitment Project</h4>
            <p>
            <ul>
                <li>Developed and maintained RESTful APIs with Spring Boot and implemented secure endpoints and managed
                    database schemas.</li>
                <li>Increased code coverage with JUnit, optimized MySQL queries and handled data migration from DB2 to
                    Azure Cloud. </li>
                <li>Identified and resolved SonarLint issues to maintain high code quality and adherence
                    to best practices, contributing to a robust and maintainable codebase.</li>
            </ul>
        </div>
    </div>
</section>
