<section class="dark-section">
   <h2>Project</h2>
   <div class="project">
      <h3>E-commerce Web app (Apr 2025 - Present)</h3>
      <p>Developing a responsive e-commerce web application using Angular and TypeScript, delivering a seamless shopping experience across devices.</p>
      <ul>
         <li>Implemented real-time product updates and secure user authentication</li>
         <li>Designed intuitive UI for managing products, orders, and sessions</li>
      </ul>
      <img src="assets/links/ecommerce.png" alt="website">
   </div>  
</section>